<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    {% block extra_head %}{% endblock %}
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__wobble" src="{{ url_for('static', filename='dist/img/AdminLTELogo.png') }}" alt="AdminLTELogo" height="60" width="60">
    </div>

    <!-- Navbar -->
    {% include 'includes/navigation.html' %}

    <!-- Main Sidebar Container -->
    {% include 'includes/sidebar.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block content %}
        <!-- Content will be inserted here -->
        {% endblock %}
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    {% include 'includes/footer.html' %}

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
{% include 'includes/scripts.html' %}
{% block extra_scripts %}{% endblock %}
</body>
</html>