<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    {% block extra_head %}{% endblock %}
</head>
<body class="hold-transition">
    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader_wrapper">
            <div class="preloader-content">
                <div class="preloader_robotik"></div>
                <img src="{{ url_for('static', filename='img/robotik_icon.png') }}" class="image_animation">
            </div>
            <h1 class="text_robotik">ROBOTIK SMANTU</h1>
        </div>
    </div>

    <!-- Main Content (awalnya transparan) -->
    <div id="main-content">
        <div class="wrapper">
            <!-- Navbar -->
            {% include 'includes/navigation.html' %}
            <!-- Main Sidebar Container -->
            {% include 'includes/sidebar.html' %}
            <!-- Content Wrapper -->
            <div class="content-wrapper">
                {% block content %}{% endblock %}
            </div>
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark"></aside>
            <!-- Footer -->
            {% include 'includes/footer.html' %}
        </div>
    </div>

    <!-- REQUIRED SCRIPTS -->
    {% include 'includes/scripts.html' %}
    {% block extra_scripts %}{% endblock %}
</body>
</html>