<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Dashboard IOT Hidroponik Robotik SMA Negeri 7 Manado">
<meta name="keywords" content="sman7manado, dashboard, hidroponik, iot, robotik">
<meta name="author" content="Keyfin Suratman">

<!-- Favicon -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/favicon-96x96.png') }}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/favicon/favicon.svg') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}" />
<meta name="apple-mobile-web-app-title" content="IOT Dashboard" />
<link rel="manifest" href="{{ url_for('static', filename='img/favicon/site.webmanifest') }}" />


<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome Icons -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
<!-- Theme style -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}">
<!-- Animation Preloader -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/preloader.css') }}">